// // Specific CSS for your home-page

a {
  text-decoration: none;
  color:  black;
}

  #card-ul {
    list-style: none;
    display: inline;
      #card-li {
        display: inline;
        text-align: center;
        border: 1px solid #ccc;
        padding: 3px;
        border-radius: 3px;
        background-color: #EBE6FE;
        color: #6804FC;
      }

}
.card-body {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#card-img {
  height: 300px;
  width: fit-content;
  object-fit: fill;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

#user {
  margin-left: 10px;
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

body {
  background-color: white;
}
