h1 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  font-size: 35px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}
body {
  background-color: #f1eefd;
}

.btn {
  border-radius: 10px;
  background-color: #e0dbea;
  margin: 20px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  font-size: 30px;
}


