body h1 {
  font-family: 'Roboto', sans-serif;

  width: 100%;
  text-align: center;
  font-size: 35px;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
}
body {
  background-color: #f1eefd;
}

.btn {
  border-radius: 10px;
  background-color: #e0dbea;
  margin: 20px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.user-show {
  h1 {
    text-align: left;
    margin-top: 25px;

  }

  h5 {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
  }

  h4 {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
  }

  .interests {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
  }

  ul {
    list-style: none;
    display: inline;
    justify-content: space-between;
    margin-top: 5px;
    // margin-right: 15px;
    padding: 0;
  }

  li {
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    background-color: #EBE6FE;
    color: #6804FC;
    margin-top: 10px;
  }

  #about-me {
    background-color: rgb(159, 117, 255);
    padding: 10px;
    border-radius: 10px;
    color: white;
  }


}
.card-content {
  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    max-height: 100%;
  }
  }

.card-container {
  background-color: white;
  width: 350px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px gray;
  border: 1px solid rgb(88, 63, 145);
  margin-top: 15px;

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
    opacity: 0.9;
  }
}


.groups {
  color: rgb(88, 63, 145);
  font-size: 26px;
  text-align: start;
}

.h3-groups {
  text-align: center;
  opacity: 0.9;
  margin-top: 20px;
}

.h1-groups {
  margin-top: 20px;
  opacity: 0.9;
}

.h2-groups {
  margin-top: 30px;
  opacity: 0.9;
}

.card-show-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
