body h1 {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
body {
  background-color: #f1eefd;
}
.pic {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 5%;
}
.btn {
  border-radius: 10px;
  background-color: #e0dbea;
}
h2 {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
}

.user-show {
  h1 {
    text-align: left;
    margin-top: 15px;

  }

  h5 {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
  }

  h4 {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
  }

  .interests {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    display: inline;
    justify-content: space-between;
    margin-top: 5px;
    margin-right: 15px;
    padding: 0;
  }

  li {
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    background-color: #EBE6FE;
    color: #6804FC;
    margin-top: 10px;
  }

  #about-me {
    background-color: rgb(159, 117, 255);
    padding: 10px;
    border-radius: 10px;
    color: white;
  }


}
