
<h1 class="h1-new">New group</h1>

<div class="container-new">
  <%= simple_form_for(@group) do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
    </div>
    <div class="form-actions">
      <%= f.submit "Submit group", class: "btn btn-dark" %>
    </div>
  <% end %>
</div>
