<h2><%= @group.name %></h2>


<% if @group.user_id == current_user.id %>
  <p>Welcome to your group</p>
<% else %>
  <% if current_user.members == nil %>
    <%= simple_form_for [@group, @member] do |f| %>
      <%= f.submit "Heart", class: "btn btn-dark" %>
    <% end %>
  <% else %>
    <p>Welcome to your group</p>
  <% end %>
<% end %>

