<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% @groups.each do |group| %>
  <ul>
    <li><%= group.name %></li>
  </ul>
<% end %>

<% @users_show.each do |x| %>
  <ul>
    <li><%= x.email %></li>
  </ul>
<% end %>

