//dashboard css -Tiago
.dashboard-container {
  margin: 30px auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  opacity: 0.8;
}

.dashboard-container h1 {
  font-weight: bold;
  font-size: 30px;
}

.h1-owner {
  margin-top: 30px;
  margin-bottom: 20px;
}

.h1-user {
  margin-top: 30px;
  margin-bottom: 20px;
}

.dashboard-card {
  border-radius: 10px;
  background-color: rgb(159, 117, 255);
  margin: 25px 15px;
  padding: 5px 0;
  color: white;
  position: relative;
  text-align: center;
}

.dashboard-container h5 {
  color: white;
}

.dashboard-container a {
  color: white;
}

.link-heart p {
  font-size: 25px;
}

.dashboard-card-user {
  border-radius: 10px;
  background-color: rgb(159, 117, 255);
  margin: 15px 15px;
  padding: 5px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.dashboard-create {
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard-create a {
  color: white;
  background-color: rgb(159, 117, 255);
  padding: 10px 30px;
  font-size: 30px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.3s ease;
}

.dashboard-create a:hover {
  color: white;
  background-color: rgb(59, 3, 79);
}

.dashboard-create h1 {
  font-size: 45px;
}

#icon {
  position: absolute;
  left: 7px;
  top: 7px;
}

#icon1 {
  position: absolute;
  left: 7px;
  top: 7px;
}

#icon2 {
  position: absolute;
  left: 7px;
  top: 7px;
}

#icon3 {
  position: absolute;
  left: 7px;
  top: 7px;
}

.dashboard-card1 {
  border-radius: 10px;
  background-color: rgb(159, 117, 255);
  margin: 15px 15px;
  color: white;
  position: relative;
  text-align: center;
  padding: 5px 0;
  margin: 25px 15px;
}

.pic-dashboard {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pic-dashboard img {
  border-radius: 50%;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.pic-dashboard h1 {
  margin-top: 0px;
  margin-bottom: 15px;
}

.pic-dashboard h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-pending {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin: 15px 15px;
  text-align: center;
  padding: 5px 0;
  margin: 25px 15px;
  background-color: rgb(88, 63, 145);
  position: relative;
}

#icon5 {
  position: absolute;
  left: 7px;
  top: 7px;
  font-size: 16px;
}
