.dashboard-container {
  margin: 30px auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  opacity: 0.8;
}

.dashboard-container h1 {
  font-weight: bold;
  font-size: 30px;
}

.dashboard-card {
  border-radius: 10px;
  background-color: rgb(159, 117, 255);
  margin: 15px 15px;
  padding: 5px 0;
  color: white;
}

.dashboard-container h5 {
  color: white;
}

.dashboard-container a {
  color: white;
}

.link-heart p {
  font-size: 25px;
}

.dashboard-card-user {
  border-radius: 10px;
  background-color: rgb(159, 117, 255);
  margin: 15px 15px;
  padding: 5px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard-create {
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard-create a {
  color: white;
  background-color: rgb(159, 117, 255);
  padding: 10px 30px;
  font-size: 30px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.3s ease;
}

.dashboard-create a:hover {
  color: white;
  background-color: rgb(59, 3, 79);
}
