//dashboard css -Tiago
.dashboard-container {
  margin: 30px auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  opacity: 0.8;
}

.dashboard-container h1 {
  font-weight: bold;
  font-size: 30px;
}

.h1-owner {
  margin-top: 15px;
  margin-bottom: 10px;
  color: rgb(88, 63, 145);
  font-weight: bold;
}

.h1-user {
  margin-top: 30px;
  margin-bottom: 20px;
}

.dashboard-card {
  border-radius: 10px;
  background-color: rgb(159, 117, 255);
  margin: 25px 15px;
  padding: 5px 0;
  color: white;
  position: relative;
  text-align: center;
}

.dashboard-container h5 {
  color: white;
}

.dashboard-container a {
  color: white;
}

.link-heart p {
  font-size: 25px;
}

.dashboard-card-user {
  border-radius: 10px;
  background-color: rgb(159, 117, 255);
  margin: 15px 15px;
  padding: 5px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.dashboard-create {
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard-create a {
  color: white;
  background-color: rgb(159, 117, 255);
  padding: 10px 30px;
  font-size: 30px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.3s ease;
}

.dashboard-create a:hover {
  color: white;
  background-color: rgb(59, 3, 79);
}

.dashboard-create h1 {
  font-size: 45px;
}

#icon {
  position: absolute;
  left: 7px;
  top: 7px;
}

#icon1 {
  position: absolute;
  left: 7px;
  top: 7px;
}

#icon2 {
  position: absolute;
  left: 7px;
  top: 7px;
}

#icon3 {
  position: absolute;
  left: 7px;
  top: 7px;
}

.pic-dashboard {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pic-dashboard img {
  border-radius: 50%;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.pic-dashboard h1 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.pic-dashboard h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card-pending {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin: 15px 15px;
  text-align: center;
  padding: 5px 0;
  margin: 25px 15px;
  background-color: rgb(88, 63, 145);
  position: relative;
}

#icon5 {
  position: absolute;
  left: 7px;
  top: 7px;
  font-size: 16px;
}




.dashboard-card1 {
  border-radius: 20px;
  background-color: white;
  margin: 15px 15px;
  position: relative;
  padding: 20px 20px;
  margin: 25px 15px;
  border: 2px solid rgb(88, 63, 145);
}

.dashboard-card1 h5 {
  color: black;
  opacity: 0.9;
  font-weight: bold;
}

.dashboard-card1 h5 {
  color: rgb(88, 63, 145);
  font-weight: bold;
}

.dashboard-card1 h6 {
  color: black;
  opacity: 0.9;
  font-weight: bold;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-card1 img {
  border-radius: 50%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid rgb(88, 63, 145);
}

.image1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image h5 {
  margin-top: 5px;
}

.bottom h6 {
  color: rgb(88, 63, 145);
  font-weight: bold;
}

.bottom p {
  color: black;
  opacity: 0.9;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.tags-list ul {
  list-style-type: none;
  padding: 0px 5px;
  opacity: 0.9;
  font-weight: bold;
}

.tags-list {
  display: flex;
}

.link-top {
  color: rgb(88, 63, 145);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.top a {
  color: black;
  opacity: 0.9;
}

.new {
  color: white;
  background-color: rgb(221, 81, 242);
  padding: 5px 5px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: -14px;
  left: -2px;
}

// new-group Tiago

.container-new {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.h1-new {
  margin-top: 50px;
}

// new-chat Tiago

.container-new-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.h1-new-chat {
  margin-top: 50px;
}

// chatroom Tiago

.h1-chatroom {
  margin-top: 20px;
}
// show-Tiago
#about-me p {
  text-align: start;
}
