.footer {
  background: #F4F4F4;
  height: 50px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-links a {
  color: black;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0 3px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

body {
  min-height: 100vh;
  margin-bottom: 79px;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
