.footer {
  background: rgb(159, 117, 255);
  height: 85px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.footer-links a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 35px;
  padding: 0 3px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

body {
  min-height: 100vh;
  margin-bottom: 120px;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#button-green {
 font-size: 14px;
 position: absolute;
 top: 3px;
 left: 25px;
}

.footer-links a[aria-current="page"] {
  border-bottom: 5px solid rgb(221, 81, 242);
  padding-bottom: 1px;
}
