.card-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
}

.ul-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul-navbar {
  position: absolute;
  right: 5px;
}

mark.red {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #583f91;
  background: none;
  padding: 0;
  margin-top: 10px;
}

mark.blue {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: rgb(221, 81, 242);
  background: none;
  padding: 0;
  margin-top: 10px;
}

.navbar-main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
